#dropdown-menu-18 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-18 .nav .link,
#dropdown-menu-18 .dropdown-item {
  font-size: 1em;
  color: #000000;
}
#dropdown-menu-18 .navbar,
#dropdown-menu-18 .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-18 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-18 .dropdown-menu a:hover,
#dropdown-menu-18 .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-18 .navbar-toggler {
  color: #000000;
}
.cid-s0MDtXjw8z {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #efefef;
}
.cid-s0MDtXjw8z .mbr-section {
  text-align: center;
  color: #fff;
}
#footer1-9 P {
  color: #000000;
  text-align: center;
}
#footer1-9 P {
  color: #000000;
  text-align: center;
}
#dropdown-menu-18 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-18 .nav .link,
#dropdown-menu-18 .dropdown-item {
  font-size: 1em;
  color: #000000;
}
#dropdown-menu-18 .navbar,
#dropdown-menu-18 .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-18 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-18 .dropdown-menu a:hover,
#dropdown-menu-18 .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-18 .navbar-toggler {
  color: #000000;
}
