#menu-0 .mbr-brand__name {
  font-size: 16px;
}
#menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #ffffff;
}
#menu-0 .mbr-navbar__section {
  background: #ffffff;
}
#menu-0 .mbr-navbar__hamburger {
  color: #000000;
}
.cid-s0MDtXjw8z {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #efefef;
}
.cid-s0MDtXjw8z .mbr-section {
  text-align: center;
  color: #fff;
}
#footer1-9 P {
  color: #000000;
  text-align: center;
}
#menu-4 .mbr-brand__name {
  font-size: 16px;
}
#menu-4.mbr-navbar--stuck .mbr-navbar__section {
  background: #ffffff;
}
#menu-4 .mbr-navbar__section {
  background: #ffffff;
}
#menu-4 .mbr-navbar__hamburger {
  color: #000000;
}
#footer1-9 P {
  color: #000000;
  text-align: center;
}
#menu-k .mbr-brand__name {
  font-size: 16px;
}
#menu-k.mbr-navbar--stuck .mbr-navbar__section {
  background: #ffffff;
}
#menu-k .mbr-navbar__section {
  background: #ffffff;
}
#menu-k .mbr-navbar__hamburger {
  color: #000000;
}
#menu-r .mbr-brand__name {
  font-size: 16px;
}
#menu-r.mbr-navbar--stuck .mbr-navbar__section {
  background: #ffffff;
}
#menu-r .mbr-navbar__section {
  background: #ffffff;
}
#menu-r .mbr-navbar__hamburger {
  color: #000000;
}
#menu-12 .mbr-brand__name {
  font-size: 16px;
}
#menu-12.mbr-navbar--stuck .mbr-navbar__section {
  background: #ffffff;
}
#menu-12 .mbr-navbar__section {
  background: #ffffff;
}
#menu-12 .mbr-navbar__hamburger {
  color: #000000;
}
